body {
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: medium;
    background-color: #444;
    color: white;
    text-align: center;
}

h1, h2 {
    font-weight: 300;
}

.App {
    display: flex;
    flex-wrap: wrap;
}